{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "binaryLiterals": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "generators": true,
      "spread": true,
      "objectLiteralComputedProperties": true,
      "objectLiteralDuplicateProperties": false,
      "superInFunctions": true,
      "templateStrings": true,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "modules": true,
      "forOf": true
    },
    "allowImportExportEverywhere": true
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha": true
  },
  "rules": {
    "func-names": ["error", "never"],
    "indent": [2, "tab"],
    "no-underscore-dangle": [1, {
      "allow": ["_id"]
    }],
    "import/no-unresolved": [
      2,
      {
        "commonjs": true
      }
    ],
    "valid-jsdoc": [
      "error",
      {
        "requireReturn": true,
        "requireReturnType": true,
        "requireParamDescription": false,
        "requireReturnDescription": true
      }
    ],
    "require-jsdoc": [
      "error",
      {
        "require": {
          "FunctionDeclaration": true,
          "MethodDefinition": true,
          "ClassDeclaration": true
        }
      }
    ]
  }
}