.h-center {
  text-align: center;
  justify-content: center;
}

.h-font__size {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.h-margin__left {
  margin-left: 30%;
}

.h-margin__h-form__modbot {
  margin-bottom: 15px;
}

.h-form__mod {
  min-width: 350px;
}

.h-user__icon::before {
  content: url("../../icons/User.png");
  margin-right: 10px;
  ;
}

.h-email__icon::before {
  content: url("../../icons/GMail.png");
  margin-right: 10px;
}

.h-phone__icon::before {
  content: url("../../icons/Phone.png");
  margin-right: 10px;
}

.h-password__icon::before {
  content: url("../../icons/Lock.png");
  margin-right: 10px;
}

.h-icon__size {
  min-width: 32px;
  min-height: 32px;
}

.h-trasp__background {
  background: transparent;
}

.h-center {
  align-content: center;
  justify-items: center;
}