@font-face {
  font-family: duintas;
  src: url("../../fonts/duintas_diary.otf")format("truetype");
}

.logo {
  font-family: duintas;
  margin: 5px;
  font-size: 2.5rem;
}

.background {
  background: url("../../img/background-image.jpeg") no-repeat center center;
  background-position: center;
  background-color: #cfa494;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.header {
  height: 65px;
  background: var(--light);
  box-shadow: var(--shadow);
}

.caption {
  justify-content: start;
  letter-spacing: 4px;
}

.caption>p {
  font-weight: bold;
  font-size: 3rem;
  padding: 0;
  margin: 0;
}

.button {
  color: white;
  border-radius: 5px;
  background: var(--primary);
  padding: 5px 30px;
  cursor: pointer;
}

.left__arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  min-height: 40px;
  min-width: 32px;
}

.right__arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  min-width: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 180px;
  min-width: 180px;
  background: var(--primary);
  box-shadow: var(--shadow);
  transition: all 0.3s ease-in-out;
}

.form__wrapper {
  box-sizing: border-box;
  padding: 0 30px;
  align-items: center;
  justify-items: center;
  background: var(--light);
  box-shadow: var(--shadow);
}

.form__wrapper>span {
  font-size: 3rem;
}

.caption__wrapper p {
  letter-spacing: -1px;
  font-size: 20px;
}

.caption__wrapper p::first-letter {
  font-size: 30px;
  font-weight: bold;
}

.input__group {
  position: relative;
  width: 100%;
  padding: 0;
}

.input__group input {
  width: 100%;
  border: none;
  outline: 0;
  background: transparent;
  box-shadow: none;
  border-bottom: solid 3px var(--primary);
}

.input__group label {
  position: absolute;
  pointer-events: none;
  bottom: 2px;
  font-size: 20px;
  transition: 0.2s ease-in-out;
}