@font-face {
  font-family: duintas;
  src: url("../../fonts/duintas_diary.otf")format("truetype");
}

.logo {
  font-family: duintas;
  margin: 5px;
  font-size: 2.5rem;
}

.header {
  height: 65px;
  background: var(--light);
  box-shadow: var(--shadow);
}

.main__nav ul {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  grid-gap: 10px;
}

.main__menu>li>a {
  display: inline-block;
}

.main__menu>li {
  position: relative;
  display: flex;
  justify-content: center;
}

.entries__btn ul {
  position: relative;
  display: grid;
  grid-template-rows: 1fr 1fr;
  background: white;
  padding: 10px;
  font-family: inherit;
  font-size: 1rem;
  margin-top: 10px;
}

.entries__btn ul {
  display: none;
}

.entries__btn {
  display: none;
}

.entries__btn:hover ul {
  display: grid;
}

.entries__btn ul li a {
  font-size: 1rem;
}

.entries__btn ul li {
  border-bottom: solid 2px black;
}

nav ul {
  display: flex;
  justify-content: center;
}

.menu__user ul {
  display: none;
}

.user__profile {
  opacity: 1;
  display: grid;
  position: absolute;
  background: #fffeff;
  border-radius: 4px;
  box-shadow: var(--card-shadow);
  padding: 10px;
  justify-items: center;
  align-content: center;
  transition: all 0.3s, opacity 0.1s, translate 0.2s;
  z-index: 1;
}

.user__profile>img {
  border: solid 3px rgba(148, 140, 140, 0.815);
  border-radius: 50px;
}

.profile__option {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 2px;
  justify-items: center;
}

.user__name {
  font-family: inherit;
  font-size: 1.5rem;
}

.caption {
  justify-content: start;
  letter-spacing: 4px;
}

.caption>p {
  font-weight: bold;
  font-size: 3rem;
  padding: 0;
  margin: 0;
  color: white;
}

.button {
  color: white;
  border-radius: 5px;
  background: var(--primary);
  padding: 5px 30px;
  cursor: pointer;
}

.button__trasp {
  border: solid 2px var(--primary);
  padding: 2px 3px;
  border-radius: 10px;
  font-size: 1.1rem;
  box-shadow: var(--card-shadow);
}

.left__arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  min-height: 40px;
  min-width: 32px;
}

.right__arrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  min-width: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 180px;
  min-width: 180px;
  background: var(--primary);
  box-shadow: var(--shadow);
  transition: all 0.3s ease-in-out;
}

.form__wrapper {
  box-sizing: border-box;
  padding: 0 30px;
  align-items: center;
  background: white;
  box-shadow: var(--shadow);
}

.form__wrapper>span {
  font-size: 3rem;
}

.caption__wrapper {
  max-width: 450px;
}

.caption__wrapper p {
  letter-spacing: -1px;
  font-size: 20px;
  color: white;
}

.caption__wrapper p::first-letter {
  font-size: 30px;
  font-weight: bold;
}

.input__group {
  position: relative;
  width: 100%;
  padding: 0;
}

.input__group input {
  width: 100%;
  border: none;
  outline: 0;
  background: transparent;
  box-shadow: none;
  border-bottom: solid 3px var(--primary);
}

.input__group label {
  position: absolute;
  pointer-events: none;
  bottom: 2px;
  font-size: 20px;
  transition: 0.2s ease-in-out;
}

.number__notified {
  color: white;
  font-size: 1.0rem;
  padding: 1px;
  top: 5px;
  left: 20px;
  min-width: 24px;
  min-height: 24px;
  border: solid 2px;
  border-radius: 100px;
  position: absolute;
}

.card__header {
  display: grid;
  padding: 10px;
  background: #fffeff;
  align-content: center;
  justify-items: center;
  font-size: 1.3rem;
  font-style: inherit;
  height: 70px;
}

.card__footer {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  justify-content: center;
  margin-bottom: 10px;
}

.card__body {
  display: grid;
  padding: 10px;
  align-content: center;
  justify-items: center;
  font-family: inherit;
  font-size: 1rem;
}

.change__photo>input {
  display: none;
}

.change__photo {
  box-shadow: var(--shadow);
  padding: 7px;
}

.set__reminder>input {
  background: var(--shadow);
}

.total__entries {
  display: grid;
  justify-items: center;
  background: #dddddd;
  box-shadow: var(--shadow);
}

.total__entries>span {
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary);
}

.profile__options {
  display: grid;
  grid-gap: 10px;
  font-family: inherit;
  font-size: 1.1rem;
}

.profile__options> {
  width: 100%;
}

.btn__logout {
  padding: 7px;
  box-shadow: var(--shadow);
}

.title__area {
  font-size: 1.5rem;
  font-family: inherit;
  color: white;
  font-weight: bold;
}

.title__area>input {
  border-radius: 5px;
  text-indent: 10px;
  background: white;
  box-shadow: var(--shadow);
}

.story__text {
  border-radius: 5px;
  text-indent: 10px;
  font-family: inherit;
  font-size: 1.3rem;
  resize: none;
  background: white;
  box-shadow: var(--shadow);
}

.story__title {
  display: grid;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  justify-items: center;
  align-content: center;
  margin: 0;
}

.story__display {
  display: grid;
  padding: 10px;
  font-family: inherit;
  font-size: 1.2rem;
  align-items: center;
}

.date__posted {
  font-family: inherit;
  font-size: 1.1rem;
  margin: 5px;
  padding: 3px;
}

.edit__post {
  padding: 5px 20px;
  font-family: inherit;
  font-size: 1.2rem;
  box-shadow: var(--card-shadow);
}

.contact__form {
  width: 100%;
  height: 100%;
  Border-radius: 5px;
  text-indent: 10px;
  font-family: inherit;
  font-size: 1.3rem;
  resize: none;
  background: rgb(224, 224, 224);
  box-shadow: var(--shadow);
  border-bottom: solid 2px var(--primary);
}

.err__display {
  height: 20px;
  color: red;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.submit__options {
  display: grid;
  grid-template-columns: 1fr;
}