.container {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr;
  grid-gap: 20px;
  min-width: 480px;
}

.l-main__nav {
  display: grid;
}

.l-header__content {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  margin: 0 70px 0 50px;
}

.showcase__card {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.l-card__wrapper {
  display: grid;
  margin-right: 20px;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  grid-gap: 20px;
  margin-top: 50px;
}

.l-form__area {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.l-form {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  height: 450px;
  margin-left: 10px;
  max-width: 400px;
}

.l-dashboard__wrapper {
  display: grid;
  justify-content: center;
  justify-items: center;
}

.l-dashboard__content {
  display: grid;
  grid-auto-rows: auto, 1fr;
  max-width: 80%;
  margin-bottom: 50px;
}

.l-dashboard__content-body {
  display: grid;
  max-width: 70%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  max-height: 85vh;
}

.l-title__wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.l-title__wrapper>span {
  font-family: inherit;
  font-weight: bold;
  font-size: 2rem;
}

.l-content__body {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}

.l-story__body {
  display: grid;
  grid-template-rows: repeat(auto-fit, 1f);
  min-height: auto;
}

.l-content__card {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 300px;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: var(--card-shadow);
  transition: all .3s ease-in-out;
}

.l-content__card:hover {
  transform: scale(1.1);
}

.l-post__area {
  display: grid;
  grid-template-rows: auto 1fr auto,
}

.l-buttons__area {
  display: grid;
  grid-gap: 10px;
  align-items: right;
  padding: 5px;
  justify-content: right;
  grid-auto-flow: column
}

.l-buttons__area>button {
  font-size: 1.2rem;
  font-style: inherit;
}

.l-text__area {
  display: grid;
  padding: 5px;
  height: 150px;
  grid-template-rows: auto, 1fr;
}

.l-title__area {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 5px;
  padding: 5px
}

.l-display__area {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: auto;
  padding: 10px;
  margin-top: 20px;
  justify-content: center;
  border-radius: 10px;
  background: white;
  box-shadow: var(--card-shadow);
}

.l-display__area>span {
  display: grid;
  font-family: inherit;
  font-size: 2.3rem;
  font-weight: bold;
  justify-content: center;
  text-transform: uppercase
}

.l-story__option {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  height: 40px;
  margin-bottom: 20px;
}