.container {
  display: grid;
}

.l-main__nav {
  display: grid;
}

.main__nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.l-header__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 70px 0 30px;
}

.l-card__wrapper {
  display: grid;
  margin-left: 30%;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 50px;
}

.caption {
  justify-content: start;
  letter-spacing: 4px;
  margin-left: 30%;
}

.showcase__card {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}